/* breadcrumb
*******************************************************************/

.breadcrumb {
  background: none;
  padding: 0;
  margin: 0;
  font-size: 20px;
  .breadcrumb-item {
    &::before,
    &.active,
    a {
      color: $white;
      font-weight: 400;
    }
  }
}