/* home
*******************************************************************/

.fullpage-wrapper {
  transition: transform 1s cubic-bezier(0.68, 0, 0.265, 1) 0.1s !important;
  -webkit-transition: transform 1s cubic-bezier(0.68, 0, 0.265, 1) 0.1s !important;
}

#fp-nav {
  left: 15px;
  width: 36px;
  ul li {
    width: 14px;
    height: 14px;
    margin: 10px;
    a {
      &.active span:not([class]),
      span:not([class]) {
        background: $white;
        border: 1px solid $app-color-1;
        width: 10px;
        height: 10px;
        position: static;
        display: block;
        margin: 0;
        transition: border .3s;
        -webkit-transition: border .3s;
        border-radius: 5px;
        @include transition(width ease-in .2s);
        .darkTheme & {
          background: $dark-color-1;
          border: 1px solid $dark-color-1;
        }
        @media screen and (prefers-color-scheme: dark) {
          background: $dark-color-1;
          border: 1px solid $dark-color-1;
        }

      }
      &.active span:not([class]) {
        width: 34px;
        background: $white;
        transition: background .3s;
        -webkit-transition: background .3s;
        .darkTheme & {
          background: $dark-color-1;
        }
        @media screen and (prefers-color-scheme: dark) {
          background: $dark-color-1;
        }
      }
    }

    &:hover a span:not([class]) {
      background: $white;
      border: 2px solid $app-color-1;
      .darkTheme & {
        background: $black;
        border: 2px solid $dark-color-1;
      }
      @media screen and (prefers-color-scheme: dark) {
        background: $black;
        border: 2px solid $dark-color-1;
      }
    }

    .fp-tooltip  {
      left: 20px;
      right: auto !important;
      background: $app-color-1;
      color: $white;
      max-width: 270px;
      .darkTheme & {
        background: $dark-color-1;
        color: $black;
      }
      @media screen and (prefers-color-scheme: dark) {
        background: $dark-color-1;
        color: $black;
      }
      padding: 3px 12px 3px 40px;
      margin-left: -32px;
      border-radius: 6px;
      top: -7px;
      font-weight: 300;
      font-family: 'Work Sans', sans-serif;

    }
  }

  &.style-01 {
    ul li {
      a {
        &.active span:not([class]),
        span:not([class]) {
          border: 2px solid $app-color-1;
          .darkTheme & {
            border: 2px solid $dark-color-1;
          }
          @media screen and (prefers-color-scheme: dark) {
            border: 2px solid $dark-color-1;
          }
        }
        &.active span:not([class]) {
          background: $app-color-1;
          .darkTheme & {
            background: $dark-color-1;
          }
          @media screen and (prefers-color-scheme: dark) {
            background: $dark-color-1;
          }
        }
      }
    }
  }

}

#fullpage.fullpage-wrapper:not(.fp-destroyed) section {
  padding-top: 100px;

  .maxh-40vh {
    max-height: 40vh;
    overflow: hidden;
  }

}

#fullpage {

  section {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    @media (min-height: 701px) and (min-width: 1200px) {
      min-height: 100vh;
    }

    @media all and (-ms-high-contrast:none)
    {
      height: 100vh;
      min-height: auto;
    }
    width: 100vw;
    overflow: hidden;
  }

  .py-president {

    .col-vr::after {
      background-color: $app-color-1 !important;

      .darkTheme & {
        background-color: $dark-color-1 !important;
      }
      @media screen and (prefers-color-scheme: dark) {
        background-color: $dark-color-1 !important;
      }

    }

    p {
      margin-bottom: 0;
    }

    .align-items-end p {
      position: relative;

      &::before {
        //content: open-quote;
        content: "\201c";
        font-size: 400%;
        position: absolute;
        right: calc(100% + .2em);
        top: -.4em;
        font-family: "Times New Roman", serif;
      }
    }

    hr {
      border-top-color: $app-color-1;
    }

    @include media-breakpoint-only(xs) {
      padding-top: 20px;
      padding-bottom: 20px;
      img {
        width: 100px;
      }
    }

    @include media-breakpoint-between(sm,lg) {
      padding-top: 20px;
      padding-bottom: 20px;
      img {
        width: 100px;
      }
    }

    @include media-breakpoint-up(xl) {
      padding-top: 25px;
      padding-bottom: 25px;
      img {
        width: 130px;
      }
    }

    @media (max-height: 900px) and (min-width: 1540px) {
      padding-top: 20px;
      padding-bottom: 20px;
      p {
        font-size: 14px;
        line-height: 1.3em;
      }
      img {
        width: 120px;
      }
    }

    @media (max-height: 900px) and (min-width: 1200px) {
      padding-top: 15px;
      padding-bottom: 15px;
      p {
        font-size: 14px;
        line-height: 1.2em;
      }
      img {
        width: 110px;
      }
    }

    @media (max-height: 800px) and (min-width: 1200px) {
      padding-top: 15px;
      padding-bottom: 15px;
      p {
        font-size: 14px;
        line-height: 1.2em;
      }
      img {
        width: 110px;
      }
    }

    @media (max-height: 700px) and (min-width: 1200px) {
      padding-top: 10px;
      padding-bottom: 10px;
      p {
        font-size: 14px;
        line-height: 1.2em;
      }
      img {
        width: 100px;
      }
    }

    @include media-breakpoint-up(xxl) {
      padding-top: 30px;
      padding-bottom: 30px;
      img {
        width: 130px;
      }
    }

    @media (max-height: 900px) and (min-width: 1540px) {
      padding-top: 25px;
      padding-bottom: 25px;
      p {
        font-size: 14px;
        line-height: 1.3em;
      }
      img {
        width: 120px;
      }
    }

    @media (max-height: 800px) and (min-width: 1540px) {
      padding-top: 20px;
      padding-bottom: 20px;
      p {
        font-size: 14px;
        line-height: 1.2em;
      }
      img {
        width: 110px;
      }
    }

    @media (max-height: 800px) and (min-width: 1540px) {
      padding-top: 15px;
      padding-bottom: 15px;
      p {
        font-size: 14px;
        line-height: 1.2em;
      }
      img {
        width: 110px;
      }
    }

    @media (max-height: 700px) and (min-width: 1540px) {
      padding-top: 10px;
      padding-bottom: 10px;
      p {
        font-size: 14px;
        line-height: 1.2em;
      }
      img {
        width: 100px;
      }
    }

  }

  .section-start {
    color: $white;
    padding: 30vh 0 !important;
    h1 {
      font-weight: 300;

      @include media-breakpoint-only(xs) {
        font-size: 24px;
      }

      @include media-breakpoint-between(sm,lg) {
        font-size: 28px;
      }

      @include media-breakpoint-up(xl) {
        font-size: 42px;
      }

      @media (max-height: 900px) and (min-width: 1540px) {
        font-size: 38px;
      }

      @media (max-height: 900px) and (min-width: 1200px) {
        font-size: 34px;
      }

      @media (max-height: 800px) and (min-width: 1200px) {
        font-size: 32px;
      }

      @media (max-height: 700px) and (min-width: 1200px) {
        font-size: 32px;
      }


      strong {
        display: block;
        font-weight: 200;
        font-size: 100px;
      }
    }

    .mouse-scroll {
      color: $white;
      position: absolute;
      z-index: 2;
      bottom: 40px;
      left: 50%;
      margin-left: -39px;
      text-align: center;
      line-height: 72px;
      i {
        font-size: 60px;
        line-height: 0;
        display: inline-block;
        vertical-align: middle;
        -webkit-animation-name: scrollY;
        animation-name: scrollY;
        animation-duration: 4s;
        animation-iteration-count: infinite;
      }
    }

    @-webkit-keyframes scrollY {
      from, to { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
      10%, 30%, 50% { -webkit-transform: translate3d(0, -5px, 0); transform: translate3d(0, -5px, 0); }
      20%, 40% { -webkit-transform: translate3d(0, 5px, 0); transform: translate3d(0, 5px, 0); }
      60% { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
    }
    @keyframes scrollY {
      from, to { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
      10%, 30%, 50% { -webkit-transform: translate3d(0, -5px, 0); transform: translate3d(0, -5px, 0); }
      20%, 40% { -webkit-transform: translate3d(0, 5px, 0); transform: translate3d(0, 5px, 0); }
      60% { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
    }

  }

  .section-targets {

    .col-vr::after {
      background-color: $white;
      .darkTheme & {
        background-color: darken($gray-900, 4%);
      }
      @media screen and (prefers-color-scheme: dark) {
        background-color: darken($gray-900, 4%);
      }
    }

    .nav {
      .nav-link {

        @include media-breakpoint-only(xs) {
          font-size: 16px;
          padding: 0 20px;
        }

        @include media-breakpoint-between(sm,lg) {
          font-size: 16px;
          padding: 0 20px;
        }

        @include media-breakpoint-up(xl) {
          font-size: 18px;
          padding: 0 20px;
        }

        @media (max-height: 800px) and (min-width: 1200px) {
          font-size: 16px;
          padding: 0 15px;
        }

        @media (max-height: 700px) and (min-width: 1200px) {
          font-size: 16px;
          padding: 0 15px;
        }

        @media (max-height: 600px) and (min-width: 1200px) {
          font-size: 18px;
          padding: 0 15px;
        }

        @include media-breakpoint-up(xxl) {
          font-size: 20px;
          padding: 0 20px;
        }

        @media (max-height: 600px) and (min-width: 1540px) {
          font-size: 16px;
          padding: 0 15px;
        }

        @media (max-height: 700px) and (min-width: 1540px) {
          font-size: 16px;
          padding: 0 15px;
        }

        @media (max-height: 800px) and (min-width: 1540px) {
          font-size: 18px;
          padding: 0 20px;
        }


        line-height: 1.2em;
        color: $black;
        &.active {
          color: $app-color-1;
        }

        .darkTheme & {
          color: $white;
          &.active {
            color: $dark-color-1;
          }
        }

        @media screen and (prefers-color-scheme: dark) {
          color: $white;
          &.active {
            color: $dark-color-1;
          }
        }

      }
    }

    .tab-content {

      @include media-breakpoint-up(xl) {
        height: 330px;
      }

      @media (max-height: 800px) and (min-width: 1200px) {
        height: 330px;
      }

      @media (max-height: 700px) and (min-width: 1200px) {
        height: auto;
      }

      @include media-breakpoint-up(xxl) {
        height: 380px;
      }

      @media (max-height: 800px) and (min-width: 1540px) {
        height: 360px;
      }

      @media (max-height: 700px) and (min-width: 1540px) {
        height: auto;
      }

      .darkTheme & {
        .bg-white {
          background-color: darken($gray-900, 5%) !important;
        }
      }
      @media screen and (prefers-color-scheme: dark) {
        .bg-white {
          background-color: darken($gray-900, 5%) !important;
        }
      }

    }

    .target-legend,
    .target-box-list {
      padding: 0 0 10px 30px;
      margin: 0;
      list-style: none;
      li {
        &::before {
          content: "\2022";
          color: $app-color-1;
          font-weight: bold;
          display: inline-block;
          width: 25px;
          margin-left: -25px;
          font-size: 30px;
          line-height: 0;
          top: 4px;
          position: relative;
        }
        padding: 5px 15px 5px 10px;
        position: relative;
        color: $gray-600;
        font-size: 12px;
        &.br-green::before {
          color: $app-color-4;
        }
        &.br-red::before {
          color: $app-color-5;
        }
        &.br-gray::before {
          color: $app-color-6;
        }
      }
    }

    .target-legend {
      border: 1px solid $gray-200;

      .darkTheme & {
        border: 1px solid $gray-900;
      }

      @media screen and (prefers-color-scheme: dark) {
        border: 1px solid $gray-900;
      }

      padding: 10px;
      display: -ms-flexbox;
      display: flex;
      li {
        margin-left: 20px;
        &::before {
          top: 6px;
        }
      }
    }

    .target-box {
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;

      @include media-breakpoint-down(lg) {
        margin-bottom: 30px;
      }

      @include media-breakpoint-only(xs) {
        padding: 10px;
      }

      @include media-breakpoint-between(sm,lg) {
        padding: 10px;
      }

      @include media-breakpoint-up(xl) {
        padding: 10px;
        height: 100%;
      }

      @media (max-height: 800px) and (min-width: 1200px) {
        padding: 10px;
      }

      @media (max-height: 700px) and (min-width: 1200px) {
        padding: 10px;
      }

      @include media-breakpoint-up(xxl) {
        padding: 15px;
      }

      @media (max-height: 800px) and (min-width: 1540px) {
        padding: 15px;
      }

      @media (max-height: 700px) and (min-width: 1540px) {
        padding: 10px;
      }

      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
      flex-direction: column;

      .target-legend {

      }

      .target-box-head {
        font-size: 19px;
        font-weight: 300;
        color: #FFF;
        margin: 0 0 10px 0;
        padding: 10px 15px;
        background-color: $app-color-2;
        line-height: 1.3em;

        .darkTheme & {
          color: $gray-900;
          background-color: $dark-color-2;
        }

        @media screen and (prefers-color-scheme: dark) {
          color: $gray-900;
          background-color: $dark-color-2;
        }

      }

      .target-box-body {
        background-color: $white;
        background-image: inherit;
        background-position: -1000% -1000%;
        background-repeat: inherit;
        flex: 1 1 auto;
        .darkTheme & {
          background-color: darken($gray-900, 5%);
        }

        @media screen and (prefers-color-scheme: dark) {
          background-color: darken($gray-900, 5%);
        }

        @include media-breakpoint-only(xs) {
          padding: 30px 10px 10px;
        }

        @include media-breakpoint-between(sm,lg) {
          padding: 30px 10px 10px;
        }

        @include media-breakpoint-up(xl) {
          padding: 50px 20px 20px;
        }

        @media (max-height: 800px) and (min-width: 1200px) {
          padding: 40px 15px 20px;
        }

        @media (max-height: 700px) and (min-width: 1200px) {
          padding: 30px 10px 20px;
        }

        @include media-breakpoint-up(xxl) {
          padding: 60px 20px 20px;
        }

        @media (max-height: 800px) and (min-width: 1540px) {
          padding: 30px 10px 10px;
        }

        @media (max-height: 700px) and (min-width: 1540px) {
          padding: 40px 15px 20px;
        }
      }

      .target-box-foot {
        background-color: $white;
        font-weight: 300;
        color: $app-color-1;

        .darkTheme & {
          background-color: darken($gray-900, 5%);
          color: $white;
        }

        @media screen and (prefers-color-scheme: dark) {
          background-color: darken($gray-900, 5%);
          color: $white;
        }

        @include media-breakpoint-only(xs) {
          padding: 10px;
          font-size: 18px;
        }

        @include media-breakpoint-between(sm,lg) {
          padding: 10px;
          font-size: 18px;
        }

        @include media-breakpoint-up(xl) {
          padding: 20px;
          font-size: 20px;
        }

        @media (max-height: 800px) and (min-width: 1200px) {
          padding: 15px;
          font-size: 18px;
        }

        @media (max-height: 700px) and (min-width: 1200px) {
          padding: 10px;
          font-size: 16px;
        }

        @include media-breakpoint-up(xxl) {
          font-size: 22px;
        }

        @media (max-height: 800px) and (min-width: 1540px) {
          font-size: 20px;
        }

        @media (max-height: 700px) and (min-width: 1540px) {
          font-size: 18px;
        }

      }

      .target-box-val {

        @include media-breakpoint-only(xs) {
          font-size: 70px;
        }

        @include media-breakpoint-between(sm,lg) {
          font-size: 70px;
        }

        @include media-breakpoint-up(xl) {
          font-size: 70px;
        }

        @media (max-height: 600px) and (min-width: 1200px) {
          font-size: 40px;
        }

        @media (max-height: 700px) and (min-width: 1200px) {
          font-size: 50px;
        }

        @media (max-height: 800px) and (min-width: 1200px) {
          font-size: 60px;
        }

        @include media-breakpoint-up(xxl) {
          font-size: 100px;
        }

        @media (max-height: 600px) and (min-width: 1540px) {
          font-size: 70px;
        }

        @media (max-height: 700px) and (min-width: 1540px) {
          font-size: 80px;
        }

        @media (max-height: 800px) and (min-width: 1540px) {
          font-size: 90px;
        }

        font-weight: 500;
        background-image: inherit;
        background-position: center center;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: 'Oswald', sans-serif;
        line-height: 1.1em;
        padding-top: .2em;
        position: relative;
        .btn-tip {
          border: 0;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          font-size: 10px;
          line-height: 10px;
          position: absolute;
          padding: 0;
          @include media-breakpoint-up(xxxl) {
            top: 2.6em;
          }
          @include media-breakpoint-up(xxl) {
            top: 3.8em;
          }
        }
        small {
          font-size: 60%;
          line-height: 0;
          margin-left: -10%;
        }
        &::before {
          content: attr(data-prefix);
          font-weight: 400;
          font-size: 20%;
          display: block;
          line-height: 0;
        }
      }

      .target-box-desc {
        line-height: 1.2em;

        @include media-breakpoint-only(xs) {
          font-size: 12px;
        }

        @include media-breakpoint-between(sm,lg) {
          font-size: 12px;
        }

        @include media-breakpoint-up(xl) {
          font-size: 13px;
        }

        @media (max-height: 800px) and (min-width: 1200px) {
          font-size: 12px;
        }

        @media (max-height: 700px) and (min-width: 1200px) {
          font-size: 12px;
        }

        @include media-breakpoint-up(xxl) {
          font-size: 14px;
        }

        @media (max-height: 800px) and (min-width: 1540px) {
          font-size: 13px;
        }

        @media (max-height: 700px) and (min-width: 1540px) {
          font-size: 13px;
        }

      }

    }

  }

  .section-news {
    .section-news-body {

      @include media-breakpoint-only(xs) {
        font-size: 12px;
        padding-top: 20px;
        padding-bottom: 20px;
        p {
          margin-bottom: 10px;
        }
        h2 {
          margin-bottom: 20px;
        }
        h3 {
          font-size: 18px;
        }
        .py-box {
          padding-top: 20px;
          padding-bottom: 20px;
        }
      }

      @include media-breakpoint-between(sm,lg) {
        font-size: 12px;
        padding-top: 20px;
        padding-bottom: 20px;
        p {
          margin-bottom: 15px;
        }
        h2 {
          margin-bottom: 20px;
        }
        h3 {
          font-size: 18px;
        }
        .py-box {
          padding-top: 20px;
          padding-bottom: 20px;
        }
      }

      @include media-breakpoint-up(xl) {
        font-size: 13px;
        padding-top: 20px;
        padding-bottom: 20px;
        p {
          margin-bottom: 15px;
        }
        h2 {
          margin-bottom: 20px;
        }
        h3 {
          font-size: 20px;
        }
        .py-box {
          padding-top: 20px;
          padding-bottom: 20px;
        }
      }

      @media (max-height: 800px) and (min-width: 1200px) {
        font-size: 12px;
        padding-top: 15px;
        padding-bottom: 15px;
        p {
          margin-bottom: 10px;
        }
        h2 {
          margin-bottom: 15px;
        }
        h3 {
          font-size: 18px;
        }
        .py-box {
          padding-top: 20px;
          padding-bottom: 20px;
        }
      }

      @media (max-height: 700px) and (min-width: 1200px) {
        font-size: 12px;
        padding-top: 15px;
        padding-bottom: 15px;
        p {
          margin-bottom: 5px;
        }
        h2 {
          margin-bottom: 15px;
        }
        h3 {
          font-size: 18px;
        }
        .py-box {
          padding-top: 10px;
          padding-bottom: 10px;
        }
      }

      @include media-breakpoint-up(xxl) {
        font-size: 15px;
        padding-top: 30px;
        padding-bottom: 30px;
        p {
          margin-bottom: 15px;
        }
        h2 {
          margin-bottom: 30px;
        }
        h3 {
          font-size: 24px;
        }
        .py-box {
          padding-top: 20px;
          padding-bottom: 20px;
        }
      }

      @media (max-height: 800px) and (min-width: 1540px) {
        font-size: 14px;
        padding-top: 20px;
        padding-bottom: 20px;
        p {
          margin-bottom: 10px;
        }
        h2 {
          margin-bottom: 20px;
        }
        h3 {
          font-size: 20px;
        }
        .py-box {
          padding-top: 20px;
          padding-bottom: 20px;
        }
      }

      @media (max-height: 700px) and (min-width: 1540px) {
        font-size: 13px;
        padding-top: 15px;
        padding-bottom: 15px;
        p {
          margin-bottom: 5px;
        }
        h2 {
          margin-bottom: 15px;
        }
        h3 {
          font-size: 18px;
        }
        .py-box {
          padding-top: 20px;
          padding-bottom: 20px;
        }
      }

      color: $white;
      background-size: cover;
      background-position: center center;

      .nav {
        display: block;
        margin-left: -30px;
        margin-right: -30px;
        .nav-news-tab {
          border-bottom: 1px solid rgba($black,.5);
          padding: 15px 30px;
          display: block;
          text-decoration: none;
          color: $black;
          &.active {
           color: $app-color-1;
          }
        }
      }

      .bg-white {
        background-color: rgba($white, .6) !important;
      }

      .col-vr {
        &::after {
          background-color: $white;
          .darkTheme & {
            background-color: darken($gray-900, 5%) !important;
          }
          @media screen and (prefers-color-scheme: dark) {
            background-color: darken($gray-900, 5%) !important;
          }
        }
      }

      .darkTheme & {
        .black {
          color: $white !important;
        }
        .bg-white {
          background-color: rgba(darken($gray-900, 5%),.6) !important;
        }

        .nav {
          .nav-news-tab {
            border-bottom: 1px solid rgba($white,.5);
            color: $white;
            &.active {
              color: $dark-color-1;
            }
          }
        }

      }

      @media screen and (prefers-color-scheme: dark) {
        .black {
          color: $white !important;
        }
        .bg-white {
          background-color: rgba(darken($gray-900, 5%),.6) !important;
        }

        .nav {
          .nav-news-tab {
            border-bottom: 1px solid rgba($white,.5);
            color: $white;
            &.active {
              color: $dark-color-1;
            }
          }
        }
      }

    }
  }

  .section-finance {
    .section-finance-body {
      color: $white;
      background-size: cover;
      background-position: center center;

      @include media-breakpoint-only(xs) {
        padding-top: 20px;
        padding-bottom: 0;
        h2 {
          margin-bottom: 20px;
        }
      }

      @include media-breakpoint-between(sm,lg) {
        padding-top: 20px;
        padding-bottom: 0;
        h2 {
          margin-bottom: 20px;
        }
      }

      @include media-breakpoint-up(xl) {
        padding-top: 20px;
        padding-bottom: 0;
        h2 {
          margin-bottom: 20px;
        }
      }

      @media (max-height: 800px) and (min-width: 1200px) {
        padding-top: 15px;
        padding-bottom: 0;
        h2 {
          margin-bottom: 15px;
        }
      }

      @media (max-height: 700px) and (min-width: 1200px) {
        padding-top: 15px;
        padding-bottom: 0;
        h2 {
          margin-bottom: 15px;
        }
      }

      @include media-breakpoint-up(xxl) {
        padding-top: 30px;
        padding-bottom: 10px;
        h2 {
          margin-bottom: 30px;
        }
      }

      @media (max-height: 800px) and (min-width: 1540px) {
        padding-top: 20px;
        padding-bottom: 0;
        h2 {
          margin-bottom: 20px;
        }
      }

      @media (max-height: 700px) and (min-width: 1540px) {
        padding-top: 15px;
        padding-bottom: 0;
        h2 {
          margin-bottom: 15px;
        }
      }

      .box-info {
        border: 1px solid $white;
        @include media-breakpoint-only(xs) {
          padding: 5px 30px 10px;
        }

        @include media-breakpoint-between(sm,lg) {
          padding: 5px 30px 10px;
        }

        @include media-breakpoint-up(xl) {
          padding: 8px 30px 13px;
        }

        @media (max-height: 800px) and (min-width: 1200px) {
          padding: 5px 30px 10px;
        }

        @media (max-height: 700px) and (min-width: 1200px) {
          padding: 5px 20px 10px;
        }

        @include media-breakpoint-up(xxl) {
          padding: 8px 30px 13px;
        }

        @media (max-height: 800px) and (min-width: 1540px) {
          padding: 5px 30px 10px;
        }

        @media (max-height: 700px) and (min-width: 1540px) {
          padding: 5px 20px 10px;
        }

        height: 100%;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        .box-info-val {
          font-family: 'Oswald', sans-serif;
          font-weight: 500;
          line-height: 1.2em;
          margin-bottom: 10px;

          @include media-breakpoint-only(xs) {
            font-size: 40px;
          }

          @include media-breakpoint-between(sm,lg) {
            font-size: 40px;
          }

          @include media-breakpoint-up(xl) {
            font-size: 48px;
          }

          @media (max-height: 900px) and (min-width: 1200px) {
            font-size: 36px;
          }

          @media (max-height: 800px) and (min-width: 1200px) {
            font-size: 32px;
          }

          @media (max-height: 700px) and (min-width: 1200px) {
            font-size: 26px;
          }

          @include media-breakpoint-up(xxl) {
            font-size: 48px;
          }

          @media (max-height: 900px) and (min-width: 1540px) {
            font-size: 36px;
          }

          @media (max-height: 800px) and (min-width: 1540px) {
            font-size: 32px;
          }

          @media (max-height: 700px) and (min-width: 1540px) {
            font-size: 26px;
          }

          small {
            font-size: 16px;
            display: block;
            font-family: 'Work Sans', sans-serif;
            line-height: 1.2em;
          }
        }
        img {
          height: auto;

          @include media-breakpoint-only(xs) {
            width: 60px;
          }

          @include media-breakpoint-between(sm,lg) {
            width: 60px;
          }

          @include media-breakpoint-up(xl) {
            width: 70px;
          }

          @media (max-height: 800px) and (min-width: 1200px) {
            width: 60px;
          }

          @media (max-height: 700px) and (min-width: 1200px) {
            width: 50px;
          }

          @include media-breakpoint-up(xxl) {
            width: 70px;
          }

          @media (max-height: 800px) and (min-width: 1540px) {
            width: 60px;
          }

          @media (max-height: 700px) and (min-width: 1540px) {
            width: 50px;
          }

        }
        h3 {
          font-weight: 300;
          @include media-breakpoint-only(xs) {
            font-size: 16px;
          }

          @include media-breakpoint-between(sm,lg) {
            font-size: 16px;
          }

          @include media-breakpoint-up(xl) {
            font-size: 18px;
          }

          @media (max-height: 900px) and (min-width: 1540px) {
            font-size: 17px;
          }

          @media (max-height: 800px) and (min-width: 1200px) {
            font-size: 16px;
          }

          @media (max-height: 700px) and (min-width: 1200px) {
            font-size: 14px;
          }

          @include media-breakpoint-up(xxl) {
            font-size: 18px;
          }

          @media (max-height: 900px) and (min-width: 1540px) {
            font-size: 17px;
          }

          @media (max-height: 800px) and (min-width: 1540px) {
            font-size: 16px;
          }

          @media (max-height: 700px) and (min-width: 1540px) {
            font-size: 14px;
          }
        }
      }
    }
  }

  .section-management {
    .section-management-body {
      color: $white;
      background-size: cover;
      background-position: center center;
      .container {
        height: 100%;
      }
      .tab-pane {
        -ms-flex-positive: 1;
        flex-grow: 1;
        &.active,
        &.show {
          display: -ms-flexbox;
          display: flex;
        }
      }

      .section-management-img {
        background-size: cover;
        background-position: center center;
        height: 100%;
      }
      .section-management-text {
        border-left: 1px solid $white;

        @include media-breakpoint-only(xs) {
          padding: 20px;
        }

        @include media-breakpoint-between(sm,lg) {
          padding: 20px;
        }

        @include media-breakpoint-up(xl) {
          padding: 30px 30px 5px;
        }

        @media (max-height: 900px) and (min-width: 1540px) {
          padding: 20px 30px 5px;
        }

        @media (max-height: 800px) and (min-width: 1200px) {
          padding: 10px 20px 5px;
        }

        @media (max-height: 700px) and (min-width: 1200px) {
          padding: 10px 15px 5px;
        }

        @include media-breakpoint-up(xxl) {
          padding: 30px 30px 5px;
        }

        @media (max-height: 900px) and (min-width: 1540px) {
          padding: 20px 30px 5px;
        }

        @media (max-height: 800px) and (min-width: 1540px) {
          padding: 10px 20px 5px;
        }

        @media (max-height: 700px) and (min-width: 1540px) {
          padding: 10px 15px 5px;
        }

      }
      .tab-pane {
        padding: 0;
      }
      h2 {
        small {
          display: block;
          font-weight: 300;
        }
        @include media-breakpoint-only(xs) {
          font-size: 1.8rem;
        }

        @include media-breakpoint-between(sm,lg) {
          font-size: 1.8rem;
        }

        @include media-breakpoint-up(xl) {
          font-size: 2rem;
        }

        @media (max-height: 900px) and (min-width: 1540px) {
          font-size: 1.8rem;
        }

        @media (max-height: 800px) and (min-width: 1200px) {
          font-size: 1.7rem;
        }

        @media (max-height: 700px) and (min-width: 1200px) {
          font-size: 1.6rem;
        }

        @include media-breakpoint-up(xxl) {
          font-size: 2rem;
        }

        @media (max-height: 900px) and (min-width: 1540px) {
          font-size: 1.8rem;
        }

        @media (max-height: 800px) and (min-width: 1540px) {
          font-size: 1.7rem;
        }

        @media (max-height: 700px) and (min-width: 1540px) {
          font-size: 1.6rem;
        }


      }
      h4 {
        font-weight: 300;
        @include media-breakpoint-only(xs) {
          margin-bottom: 1.2em;
       }

        @include media-breakpoint-between(sm,lg) {
          margin-bottom: 1.2em;
        }

        @include media-breakpoint-up(xl) {
          margin-bottom: 1.4em;
        }

        @media (max-height: 900px) and (min-width: 1540px) {
          margin-bottom: 1.2em;
        }

        @media (max-height: 800px) and (min-width: 1200px) {
          margin-bottom: 1.1em;
        }

        @media (max-height: 700px) and (min-width: 1200px) {
          margin-bottom: 1em;
        }

        @include media-breakpoint-up(xxl) {
          margin-bottom: 1.4em;
        }

        @media (max-height: 900px) and (min-width: 1540px) {
          margin-bottom: 1.2em;
        }

        @media (max-height: 800px) and (min-width: 1540px) {
          margin-bottom: 1.1em;
        }

        @media (max-height: 700px) and (min-width: 1540px) {
          margin-bottom: 1em;
        }
      }
      p {
        @include media-breakpoint-only(xs) {
          margin-bottom: 1.6em;
          font-size: 13px;
        }

        @include media-breakpoint-between(sm,lg) {
          margin-bottom: 1.6em;
          font-size: 13px;
        }

        @include media-breakpoint-up(xl) {
          margin-bottom: 2em;
          font-size: 13px;
        }

        @media (max-height: 900px) and (min-width: 1540px) {
          margin-bottom: 1.6em;
          font-size: 12px;
        }

        @media (max-height: 800px) and (min-width: 1200px) {
          margin-bottom: 1.4em;
          font-size: 12px;
        }

        @media (max-height: 700px) and (min-width: 1200px) {
          margin-bottom: 1.2em;
          font-size: 11px;
        }

        @include media-breakpoint-up(xxl) {
          margin-bottom: 2em;
          font-size: 13px;
        }

        @media (max-height: 900px) and (min-width: 1540px) {
          margin-bottom: 1.2em;
          font-size: 12px;
        }


      }
      .nav {
        border: 0;
        .nav-link {
          color: $white;
          font-weight: 500;
          &.active {
            color: $app-color-2;

            .darkTheme & {
              color: $dark-color-2;
            }
            @media screen and (prefers-color-scheme: dark) {
              color: $dark-color-2;
            }

          }
        }
      }
    }

    .section-management-foot {

      @include media-breakpoint-only(xs) {
        padding-top: 15px;
        padding-bottom: 15px;
      }

      @include media-breakpoint-between(sm,lg) {
        padding-top: 15px;
        padding-bottom: 15px;
      }

      @include media-breakpoint-up(xl) {
        padding-top: 20px;
        padding-bottom: 20px;
      }

      @media (max-height: 900px) and (min-width: 1540px) {
        padding-top: 15px;
        padding-bottom: 15px;
      }

      @media (max-height: 800px) and (min-width: 1200px) {
        padding-top: 10px;
        padding-bottom: 10px;
      }

      @media (max-height: 700px) and (min-width: 1200px) {
        padding-top: 5px;
        padding-bottom: 5px;
      }

      @include media-breakpoint-up(xxl) {
        padding-top: 20px;
        padding-bottom: 20px;
      }

      @media (max-height: 900px) and (min-width: 1540px) {
        padding-top: 15px;
        padding-bottom: 15px;
      }

      @media (max-height: 800px) and (min-width: 1540px) {
        padding-top: 10px;
        padding-bottom: 10px;
      }

      @media (max-height: 700px) and (min-width: 1540px) {
        padding-top: 5px;
        padding-bottom: 5px;
      }


      .nav {
        @include media-breakpoint-only(xs) {
          padding-top: 15px;
          padding-bottom: 15px;
        }

        @include media-breakpoint-between(sm,lg) {
          padding-top: 15px;
          padding-bottom: 15px;
        }

        @include media-breakpoint-up(xl) {
          padding-top: 20px;
          padding-bottom: 20px;
        }

        @media (max-height: 900px) and (min-width: 1540px) {
          padding-top: 15px;
          padding-bottom: 15px;
        }

        @media (max-height: 800px) and (min-width: 1200px) {
          padding-top: 10px;
          padding-bottom: 10px;
        }

        @media (max-height: 700px) and (min-width: 1200px) {
          padding-top: 5px;
          padding-bottom: 5px;
        }

        @include media-breakpoint-up(xxl) {
          padding-top: 20px;
          padding-bottom: 20px;
        }

        @media (max-height: 900px) and (min-width: 1540px) {
          padding-top: 15px;
          padding-bottom: 15px;
        }

        @media (max-height: 800px) and (min-width: 1540px) {
          padding-top: 10px;
          padding-bottom: 10px;
        }

        @media (max-height: 700px) and (min-width: 1540px) {
          padding-top: 5px;
          padding-bottom: 5px;
        }
        .nav-link {
          color: $black;
          flex: 0 0 20%;
          font-weight: 300;
          padding: 0 0 20px 0;
          position: relative;
          strong {
            display: block;
            font-weight: 500;
          }
          &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            height: 5px;
            width: 0;
            background-color: $app-color-2;
            @include transition(width ease-in .2s);
          }
          &:hover,
          &:focus,
          &.active {
            color: $app-color-1;
            &::after {
              width: 40%;
            }
          }
        }

        @media screen and (prefers-color-scheme: dark) {

          .nav-link {
            color: $white;
            &::after {
              background-color: $dark-color-2;
            }
            &:hover,
            &:focus,
            &.active {
              color: $dark-color-1;
            }
          }

        }

        @media screen and (prefers-color-scheme: dark) {

          .nav-link {
            color: $white;
            &::after {
              background-color: $dark-color-2;
            }
            &:hover,
            &:focus,
            &.active {
              color: $dark-color-1;
            }
          }

        }

      }
    }
  }

  .section-strategy {
    .section-strategy-body {
      background-size: cover;
      background-position: center center;
      @include media-breakpoint-down(md) {
        padding-top: 30px;
        padding-bottom: 30px;
      }
      .box-link {
        display: -ms-flexbox;
        display: flex;
        height: 100%;
        &:hover {
          text-decoration: none;
          .box-link-body {
            background-color: $white;
            transform: translateY(0);
            .title {
              color: $app-color-1;
            }
            .btn-outline-secondary {
              border-color: $app-color-2;
              color: $app-color-2;
            }
          }
        }
        .box-link-body {
          padding: 20px 30px 40px;
          margin-left: -15px;
          margin-right: -15px;
          width: calc(100% + 30px);
          @include media-breakpoint-up(lg) {
            transform: translateY(80px);
          }
          @include media-breakpoint-down(md) {
            height: 100%;
            border: 1px solid $white;
          }
          @include transition(all ease-in .2s);
          .title {
            display: block;
            @include transition(color ease-in .2s);
            color: $white;
            font-size: 22px;
            font-weight: 300;
            margin-bottom: 30px;
          }
        }
      }
      .col-vr {
        &::after {
          background-color: $white;
        }
      }

      .darkTheme & {

        .box-link {
          &:hover {
            .box-link-body {
              background-color: $gray-900;
              .title {
                color: $dark-color-1;
              }
              .btn-outline-secondary {
                border-color: $white;
                color: $white;
              }
            }
          }
          .box-link-body {
            @include media-breakpoint-down(md) {
              border: 1px solid $gray-900;
            }
          }
        }
        .col-vr {
          &::after {
            background-color: $gray-900;
          }
        }

      }

      @media screen and (prefers-color-scheme: dark) {

        .box-link {
          &:hover {
            .box-link-body {
              background-color: $gray-900;
              .title {
                color: $dark-color-1;
              }
              .btn-outline-secondary {
                border-color: $white;
                color: $white;
              }
            }
          }
          .box-link-body {
            @include media-breakpoint-down(md) {
              border: 1px solid $gray-900;
            }
          }
        }
        .col-vr {
          &::after {
            background-color: $gray-900;
          }
        }

      }

    }
  }

  .section-responsibility {
    .section-responsibility-body {

      @include media-breakpoint-only(xs) {
        padding: 20px 0;
      }

      @include media-breakpoint-between(sm,lg) {
        padding: 20px 0;
      }

      @include media-breakpoint-up(xl) {
        padding: 30px 0;
      }

      @media (max-height: 900px) and (min-width: 1540px) {
        padding: 20px 0;
      }

      @media (max-height: 800px) and (min-width: 1200px) {
        padding: 20px 0;
      }

      @media (max-height: 700px) and (min-width: 1200px) {
        padding: 15px 0;
      }

      @include media-breakpoint-up(xxl) {
        padding: 30px 0;
      }

      @media (max-height: 900px) and (min-width: 1540px) {
        padding: 20px 0;
      }

      @media (max-height: 800px) and (min-width: 1540px) {
        padding: 20px 0;
      }

      @media (max-height: 700px) and (min-width: 1540px) {
        padding: 15px 0;
      }

      background-size: cover;
      background-position: center center;
      .box {
        .box-header {
          background-color: rgba($white,.9);
          text-align: center;
          padding: 20px;
          color: $app-color-1;
          h2 {
            font-size: 24px;
            font-weight: 300;
          }
        }
        .box-body {
          background-color: rgba($app-color-1,.9);
          color: $white;
          padding-top: 30px;
          font-weight: 300;
          h3 {
            font-size: 22px;
            font-weight: 300;
            margin-bottom: 20px;
          }

          img {
            @include media-breakpoint-only(xs) {
              width: 70px;
            }

            @include media-breakpoint-between(sm,lg) {
              width: 70px;
            }

            @include media-breakpoint-up(xl) {
              width: 80px;
            }

            @media (max-height: 900px) and (min-width: 1540px) {
              width: 70px;
            }

            @media (max-height: 800px) and (min-width: 1200px) {
              width: 60px;
            }

            @media (max-height: 700px) and (min-width: 1200px) {
              width: 50px;
            }

            @include media-breakpoint-up(xxl) {
              width: 80px;
            }

            @media (max-height: 900px) and (min-width: 1540px) {
              width: 70px;
            }

            @media (max-height: 800px) and (min-width: 1540px) {
              width: 60px;
            }

            @media (max-height: 700px) and (min-width: 1540px) {
              width: 50px;
            }
          }
        }
      }
      .col-vr {
        &::after {
          background-color: $white;
        }
      }

      .darkTheme & {

      }

      @media screen and (prefers-color-scheme: dark) {
        .box {
          .box-header {
            background-color: rgba($dark-color-1,.9);
            color: $gray-900;
          }
          .box-body {
            background-color: rgba($gray-900,.9);
            color: $dark-color-1;
          }
        }
        .col-vr {
          &::after {
            background-color: $gray-900;
          }
        }
      }

    }
  }

}
